
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

#footer {
  text-align: center;
}

#mesajul {
  color:#332c2ce0;
  background-color: aquamarine;
}

